h1 {
  margin: 0;
  padding-top: 1vh;
}

h3 {
  margin: 0;
  padding-top: 3vh;
}

h5 {
  margin: 0;
  padding-top: 0.75vh;
}
h6 {
  margin: 0;
  padding-top: 0.5vh;
  font-weight: 400;
}

.canvas-ship {
  display: flex;
  margin: auto;
}
.instructionsContainer {
  position: absolute;
  top: 7%;
  left: calc(50% + 123px);
  width: 36%;
  background-image: url("./assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 178px;
  @media screen AND (max-width: 1024px) {
    top: 10%;
  }
  @media screen AND (max-width: 800px) {
    top: 12%;
    left: calc(50% + 97px);
    background-size: 102px;
  }
}

.fullscreen {
  background-color: #f8f8f8;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.orientation,
.react-orientation--landscape {
  width: 100vw;
  height: 100vh;
  display: contents;
}

.canvas-button {
  display: flex;
  position: absolute;
  font-size: x-large;
  width: 35px;
  height: 35px;
  top: calc(100% - 35px);
  color: #5a5a5a;
  border: 1px solid rgba(90, 90, 90, 0.5);
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 500;
  border-radius: 4px;
}

.MuiInputBase-input {
  font-weight: bolder !important;
}

.MuiButton-root {
  text-transform: unset;
}
